@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat:wght@300;400&display=swap');

*{
    font-family: 'Montserrat', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial; 
}
/*BLOG VIAJES*/
ul{
    color: #3a3838;
    list-style: none;
}
.lista{
    list-style: disc;
}

/*BOTONES*/
.boton_ver{
    display: flex;
    align-items: center;
    background-color: #3a3838;
    color: white;
}
.boton_ver:hover{
    background-color: #B08EBF;
    color: white;
}
.boton_ver_centrado{
    background-color: #3a3838;
    color: white; 
}
.boton_ver_centrado:hover{
    background-color: #B08EBF;
    color: white;
}
#exampleInputEmail1{
    width: 400px;
}

/*ALINEAR IMAGENES Y TEXTO*/
.encabezado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.blog_flex_col_center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog_flex_row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.position_rel{
    position: relative;
}
.flex_cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
}

/*MARGIN Y PADDING*/
.margin_top5{
    margin-top: 5%;
}
.margin_top2{
    margin-top: 2%;
}
.margin_bottom5{
    margin-bottom: 5%;
}
.margin_5{
    margin: 5%;
}
.padding_5{
    padding: 5%;
}
.padding_0505{
    padding: 0 5% 0 5%;
}

/*IMAGENES*/
.img_bordes_rectos{
    width: 75vw;
    margin: 2% 10%;
}
.img_bordes_redondeados{
    width: 70%;
    margin: 15px;
    border-radius: 6%;
}
.tira_imagenes{
    width: 32%;
    height:32%;
}
.card_size{
    width: 18rem;
    height: 38rem;
}
.icono_resto{
    width: 15%;
}

/*LETRAS SOBRE IMAGEN*/
.letras_blancas_sob_img{
    font-family: 'Libre Baskerville', serif;
    font-size:25px;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 3%;
}

/*TEXTO*/
.titulo_negro{
    color: #3a3838;
    font-weight: bold;
    text-align: center;
}
.titulo_blanco{
    color: white;
    font-weight: bold;
    text-align: center;
}
.titulo_secundario{
    color: #3a3838;
    font-weight: bold;
    font-size: 18px;
    text-align: center;
}
.frase_italic{
    color: #3a3838;
    text-align: center;
    font-style: italic;
    font-size: 16px;
}  
.frase_italic span{
    font-weight: bold;
}
.info_blanco{
    color: white;
    font-size: 16px;
    text-align: center;
}
.info_negro{
    color: #3a3838;
    font-size: 16px;
    text-align: center;
}
.info_negro span{
    font-weight: bold;
}
.info_blanco a{
    color: white;
}
.info_negro a{
    color: #3a3838;
}

/*COLOR FONDO*/
.fondo_lila{
    background-color: #B08EBF;  
}
.fondo_verde{
    background-color: #8AC2B0;
}
.fondo_gris{
    background-color: #3a3838;
}

/*FOOTER*/
.pie_de_pag{
    background-color: #3a3838;
    color: white;
    font-size: 12px;
}
.icon{
    margin: 10% 5% 5% 5%;
}